
.HEHS-container {
    height: 400px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
    object-fit: contain;
    background-color: rgb(255, 255, 255);
}

.HEHS-container img {
    margin-top: -220px;
    width:11%; 
    margin-left: 1180px;
position: absolute;
  }

.HEHS-container > p1 {
    margin-top: -750px;
    color: #000000;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    text-align: left;
    margin-left: 150px;
    position: absolute;
}

.HEHS-container > p3 {
    margin-bottom: 0px;
    color: #000000;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
}
.HEHS-container > p4 {
    margin-top: 0px;
    color: #000000;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
}

.HEnergy {
    color: inherit;
    border-bottom: none; 
    color: #000000;
    margin-top: -200px;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    text-align: left;
    margin-left: 150px;
  }


   
@media screen and (max-width: 960px) {
    .HEHS-container > h1 {
        font-size: 70px;
        margin-top: -150px;
        align-items: center;
    }  
    
}

@media screen and (max-width: 768px) {
    .HEHS-container {
        height: 180vh;
        width: 100%;
        margin-top: -60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
        object-fit: contain;
        text-align: center;
        background-color: black;
    }

    .HEHS-container > p1 {
        font-size: 30px;
        align-items: center;
        padding-top: 140px;
    }
a

    .HEHS-container > p3 {
        margin-bottom: -1000px;
        color: #fff;
        font-size: 18px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: absolute;
    }
}

